# Formal Verifikatsiya bo'yicha manbaalar ma'lumotnomasi

## Vositalar

### Proof Assistant

- [agda2hs][agda2hs]: Agda koddan odam o'qiy oladigan Haskell kod generatsiya qilish uchun
- [hs-to-coq][hs-to-coq]: Haskell dan Coq kod generatsiya qilish uchun

### SMT-solver

- [LiquidHaskell][LiquidHaskell]: Haskell uchun "Liquid" yohud "Refinement" tiplar
- [SBV][sbv]: SMT solver yordamida Haskell dasturlarni verifikatsiya qilish

### Property-based Testing (PBT)

- [QuickCheck][QuickCheck]: Xususiyatlarga asoslangan test generatsiyasi
- [Hedgehog][Hedgehog]: QuickCheck ning zamonaviyroq talqini
- [falsify][falsify]: internal shrinking hususiyatiga ega bo'lgan PBT vositasi

## Qo'shimcha manbaalar

- [The "Property Based Testing" series](https://fsharpforfunandprofit.com/series/property-based-testing/)
- [`falsify`: Hypothesis-inspired shrinking for Haskell](https://well-typed.com/blog/2023/04/falsify/)
- [Using Coq to Write Fast and Correct Haskell](https://www.cs.purdue.edu/homes/bendy/Fiat/FiatByteString.pdf)
- [Find More Bugs with QuickCheck!](https://smallbone.se/papers/more-bugs.pdf)
- [Reasonable Agda Is Correct Haskell: Writing Verified Haskell using agda2hs](https://omelkonian.github.io/data/publications/agda2hs.pdf)
- [Verifying correctness of Haskell programs using the programming language Agda and framework agda2hs](https://repository.tudelft.nl/record/uuid:989e34ff-c81f-43ba-a851-59dca559ab90)

[agda2hs]: https://github.com/agda/agda2hs
[hs-to-coq]: https://github.com/plclub/hs-to-coq
[LiquidHaskell]: https://github.com/ucsd-progsys/liquidhaskell
[sbv]: https://github.com/LeventErkok/sbv
[QuickCheck]: https://github.com/nick8325/quickcheck
[Hedgehog]: https://github.com/hedgehogqa/haskell-hedgehog
[falsify]: https://github.com/well-typed/falsify
